<div class="container">
<div class="container m-5 border-3">
  <div class="container card flex m-5">
  <%= @restaurant.name %>
  <%= @restaurant.address %>
  category: <%= @restaurant.category %>
  phone: <%= @restaurant.phone_number %>
</div>

<div class="container-sm d-flex mt-5 flex">

  <%= simple_form_for [ @restaurant, @review ] do |f| %>
    <%= f.input :content %>
    <%= f.input :rating, :collection => 0..5, :prompt => "number between 0 and 5"%>
    <p class="btn btn-primary"><%= f.submit %></p>
  <% end %>
</div>

<ul class="list-group rev">
  <% @restaurant.reviews.each do |review| %>
    <div class="list-group-item d-flex justify-content-between">
      <div> <%= review.content %> </div>
      <div>
        <% (review.rating.to_i).times do %>
          *
        <% end %>
      </div>
    </div>
  <% end %>
</ul>
</div>
</div>
<%= link_to "back to index", restaurants_path, class: "btn btn-primary" %>
